<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    
    {% load staticfiles %}
    
<!-- APIs -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{% static "vc_browser/js/classy.js" %}" type="text/javascript"></script>
    
<!-- Site JavaScript -->
    <script src="{% static "vc_browser/js/ui.js" %}" type="text/javascript"></script>
    <script src="{% static "vc_browser/js/action.js" %}" type="text/javascript"></script>
    
<!-- Stylesheets -->
    <link href="{% static "vc_browser/fonts/FuturaT/stylesheet.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vc_browser/css/VC.css" %}" rel="stylesheet" type="text/css" />
        
<!-- Page initilization script -->
    <script type="text/javascript">
        $(document).ready(function(){
            var a = new VCAction("#action_container", "{% url 'vc_browser:fault_map' %}" );
            var mb = new UIMenubar("#menu_bar",a);
        });
    </script>
	<title>Virtual California</title>
</head>
<body>
<div id="uber">

    <div id="menu_bar">
        <div class="menu_bar_item" id="system_menu">
            <p>System</p>
            <ul>
                <li id="system_menu_new">New...</li>
                <li id="system_menu_info">Info...</li>
            </ul>
        </div>
        
        <div class="menu_bar_item" id="file_menu">
            <p>File</p>
            <ul>
                <li id="file_menu_download_event_data">Download Event Data...</li>
                <li id="file_menu_download_fault_data">Download Fault Data...</li>
            </ul>
        </div>
        
        <div class="menu_bar_item" id="view_menu">
            <p>View</p>
            <ul>
                <li id="view_menu_fault_map">Fault Map
                    <div class="menu_bar_action link"><a href="{% url 'vc_browser:fault_map' %}" class="menu_bar_action link">Event List</a></div>
                </li>
                <li id="view_menu_event_list">Event List
                    <div class="menu_bar_action link"><a href="{% url 'vc_browser:event_list_init' %}" class="menu_bar_action link">Event List</a></div>
               </li>
            </ul>
        </div>
        
        <div class="menu_bar_item" id="action_menu">
            <p>Action</p>
            <ul>
                <li class="disabled" id="action_menu_select_actions">Select Actions...</li>
            </ul>
        </div>
    </div>
    
    <div id="content">
        <div id="action_container">
            <div id="action_info">
                <div id="action_event_range">From event: <b>{{ action_detail.start_evid }}</b> to event <b> {{ action_detail.end_evid }} </b></div>
                <div id="action_year_range">From year: <b>{{ action_detail.start_year|floatformat:3 }}</b> to year <b> {{ action_detail.end_year|floatformat:3 }} </b></div>
                {% if action_detail.section_filter != None %}
                <div id="action_sections">Sections: <b>{% for sid, sname in action_detail.section_filter.items %}{{ sid }} {{ sname }}{% if not forloop.last %}, {% endif %}{% endfor %}</b></div>
                {% endif %}
            </div>

            {% if action_detail.ts_image != None %}
            <div id="action_time_series">
                <img src="{{ MEDIA_URL }}vc_data/{{ action_detail.ts_image.name }}" width="{{ action_detail.ts_image.width }}" height="{{ action_detail.ts_image.height }}" />
            </div>
            {% endif %}

            {% if action_detail.fmap_image != None %}
            <div id="action_fault_map">
                <img src="{{ MEDIA_URL }}vc_data/{{ action_detail.fmap_image.name }}" width="{{ action_detail.fmap_image.width }}" height="{{ action_detail.fmap_image.height }}" />
            </div>
            {% endif %}

            {% if action_detail.fm_image != None %}
            <div class="action_scaling_plot">
                <img src="{{ MEDIA_URL }}vc_data/{{ action_detail.fm_image.name }}" width="{{ action_detail.fm_image.width }}" height="{{ action_detail.fm_image.height }}" />
            </div>
            {% endif %}

            {% if action_detail.mas_image != None %}
            <div class="action_scaling_plot">
                <img src="{{ MEDIA_URL }}vc_data/{{ action_detail.mas_image.name }}" width="{{ action_detail.mas_image.width }}" height="{{ action_detail.mas_image.height }}" />
            </div>
            {% endif %}

            {% if action_detail.mra_image != None %}
            <div class="action_scaling_plot">
                <img src="{{ MEDIA_URL }}vc_data/{{ action_detail.mra_image.name }}" width="{{ action_detail.mra_image.width }}" height="{{ action_detail.mra_image.height }}" />
            </div>
            {% endif %}

            {% if action_detail.asrl_image != None %}
            <div class="action_scaling_plot">
                <img src="{{ MEDIA_URL }}vc_data/{{ action_detail.asrl_image.name }}" width="{{ action_detail.asrl_image.width }}" height="{{ action_detail.asrl_image.height }}" />
            </div>
            {% endif %}
            
            {% if action_detail.st_image != None %}
            <div class="action_space_time_plot">
                <img src="{{ MEDIA_URL }}vc_data/{{ action_detail.st_image.name }}" width="{{ action_detail.st_image.width }}" height="{{ action_detail.st_image.height }}" />
            </div>
            {% endif %}
            
        </div>
    </div>
    
    <div id="system">
        <div id="system_name"><p>{{ system_name }}</p></div>
        <div id="system_info">
            <p>Sections: {{ system_info.sections }}</p>
            <p>Elements: {{ system_info.elements }}</p>
            <p>Events: {{ system_info.events }}</p>
            <p>Years: {{ system_info.years|floatformat }}</p>
        </div>
    </div>

    
</div>
</body>
</html>
