<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    
    {% load staticfiles %}
    
<!-- APIs -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{% static "vc_browser/js/classy.js" %}" type="text/javascript"></script>
    
<!-- Site JavaScript -->
    <script src="{% static "vc_browser/js/ui.js" %}" type="text/javascript"></script>
    <script src="{% static "vc_browser/js/event_list.js" %}" type="text/javascript"></script>
    
<!-- Stylesheets -->
    <link href="{% static "vc_browser/fonts/FuturaT/stylesheet.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vc_browser/css/VC.css" %}" rel="stylesheet" type="text/css" />
    
<!-- Page initilization script -->
    <script type="text/javascript">
        $(document).ready(function(){
            var events_per_page_options = []
            
            {% for option in events_per_page_options %}
                events_per_page_options.push({{ option }});
            {% endfor %}
            
            var el = new EventList("#event_list_container", "#event_detail_container", '{{ event_list|escapejs }}', {events_per_page_options:events_per_page_options, default_events_per_page:{{ default_events_per_page }}});
            var mb = new UIMenubar("#menu_bar", el);
        });
    </script>
	<title>Virtual California</title>
</head>
<body>
<div id="uber">
    <div id="menu_bar">
        
        <div class="menu_bar_item" id="system_menu">
            <p>System</p>
            <ul>
                <!--<li id="system_menu_new">New...</li>-->
                <li id="system_menu_info">Info...</li>
            </ul>
        </div>
        <!--
        <div class="menu_bar_item" id="file_menu">
            <p>File</p>
            <ul>
                <li id="file_menu_download_event_data">Download Event Data...</li>
                <li id="file_menu_download_fault_data">Download Fault Data...</li>
            </ul>
        </div>
        -->
        <div class="menu_bar_item" id="view_menu">
            <p>View</p>
            <ul>
                <li id="view_menu_fault_map">Fault Map
                    <div class="menu_bar_action link"><a href="{% url 'vc_browser:fault_map' %}" class="menu_bar_action link">Fault Map</a></div>
                </li>
                    
                <li class="active" id="view_menu_event_list">Event List</li>
            </ul>
        </div>
        
        <!--
        <div class="menu_bar_item" id="action_menu">
            <p>Action</p>
            <ul>
                <li class="disabled" id="action_menu_select_actions">Select Actions...
                    <div class="menu_bar_action dialog">
                            <h1> Event Actions </h1>
                            <p>
                                <input class="check" type="checkbox" name="frequency_magnitude" id="frequency_magnitude" /> <label for="frequency_magnitude">Frequency-Magnitude</label>
                            </p>
                            <p>
                                <input class="check" type="checkbox" name="magnitude_average_slip" id="magnitude_average_slip" /> <label for="magnitude_average_slip">Magnitude-Average Slip</label>
                            </p>
                            <p>
                                <input class="check" type="checkbox" name="magnitude_rupture_area" id="magnitude_rupture_area" /> <label for="magnitude_rupture_area">Magnitude-Rupture Area</label>
                            </p>
                            <p>
                                <input class="check" type="checkbox" name="average_slip_rupture_length" id="average_slip_rupture_length" /> <label for="average_slip_rupture_length">Average Slip-Rupture Length</label>
                            </p>
                            <p>
                                <input class="check" type="checkbox" name="space_time" id="space_time" /> <label for="space_time">Space-Time Diagram</label>
                            </p>
                            <p>
                                <input class="button" name="cancel" type="button" value="Cancel" />
                                <input class="button green" name="go" type="button" value="Go" />
                            </p>
                    </div>
                </li>
            </ul>
        </div>
        -->
    </div>
    
    <div id="content">
        <div id="event_list_container"></div>
        <div id="event_detail_container"></div>
    </div>
    
    <div id="system">
        <div id="system_name"><p>{{ system_name }}</p></div>
        <div id="system_info">
            <p>Sections: {{ system_info.sections }}</p>
            <p>Elements: {{ system_info.elements }}</p>
            <p>Events: {{ system_info.events }}</p>
            <p>Years: {{ system_info.years|floatformat }}</p>
        </div>
    </div>
    
</div>
</body>
</html>
