<div id="event_info">
    <div id="event_number">Number: <b>{{ event_detail.number }}</b></div>
    <div id="event_year">Time: <b>{{ event_detail.year }}-{{ event_detail.month }}-{{ event_detail.day}} {{ event_detail.hour }}:{{ event_detail.minute }}:{{ event_detail.second }} ({{ event_detail.year_decimal|floatformat:3 }})</b></div>
    <div id="event_magnitude">Magnitude: <b>{{ event_detail.magnitude|floatformat:3 }}</b></div>
    <div id="event_rupture_area">Rupture Area: <b>{{ event_detail.rupture_area|floatformat:3 }} [km<sup>2</sup>]</b></div>
    <div id="event_surface_ruptue_length">Surface Rupture Length: <b>{{ event_detail.rupture_length|floatformat:3 }} [km]</b></div>
    <div id="event_average_slip">Average Slip: <b>{{ event_detail.average_slip|floatformat:3 }} [m]</b></div>
    <div id="event_trigger_location">Trigger Element: <b>{{ event_detail.trigger_eid }}</b> Lat: <b>{{ event_detail.trigger_lat|floatformat:4 }}</b> Lon: <b>{{ event_detail.trigger_lon|floatformat:4 }}</b></div>
    <div id="event_trigger_section">Trigger Section: <b>{{ event_detail.trigger_section_sid }} {{ event_detail.trigger_section_name }}</b></div>
    <div id="event_involved_sections">Involved Sections: <b>{% for sid, sname in event_detail.involved_sections.items %}{{ sid }} {{ sname }}{% if not forloop.last %}, {% endif %}{% endfor %}</b></div>
</div>
<div id="event_time_series">
    <img src="{{ MEDIA_URL }}vc_data/{{ event_detail.ts_image.name }}" width="{{ event_detail.ts_image.width }}" height="{{ event_detail.ts_image.height }}" />
</div>
<div id="event_fault_map">
    <img src="{{ MEDIA_URL }}vc_data/{{ event_detail.fmap_image.name }}" width="{{ event_detail.fmap_image.width }}" height="{{ event_detail.fmap_image.height }}" />
</div>
<div id="event_rupture_map">
    <img src="{{ MEDIA_URL }}vc_data/{{ event_detail.rm_image.name }}" width="{{ event_detail.rm_image.width }}" height="{{ event_detail.rm_image.height }}" />
</div>