<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    
    {% load staticfiles %}
    
<!-- APIs -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{% static "vc_browser/js/classy.js" %}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfPLl_9hNfXT75mTioGwzqMl_MEVGb7Xo&sensor=false" type="text/javascript"></script> 
    
<!-- Site JavaScript -->
    <script src="{% static "vc_browser/js/ui.js" %}" type="text/javascript"></script>
    <script src="{% static "vc_browser/js/fault_map.js" %}" type="text/javascript"></script>
    
<!-- Stylesheets -->
    <link href="{% static "vc_browser/fonts/FuturaT/stylesheet.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vc_browser/css/VC.css" %}" rel="stylesheet" type="text/css" />
        
<!-- Page initilization script -->
    <script type="text/javascript">
        $(document).ready(function(){
            var fm = new FaultMap("#fault_map", "#fault_list", '{{ fault_map_data|escapejs }}' );
            var mb = new UIMenubar("#menu_bar", fm);
        });
    </script>
	<title>Virtual California</title>
</head>
<body>
<div id="uber">

    <div id="menu_bar">
        <div class="menu_bar_item" id="system_menu">
            <p>System</p>
            <ul>
                <!--<li id="system_menu_new">New...</li>-->
                <li id="system_menu_info">Info...</li>
            </ul>
        </div>
        <!--
        <div class="menu_bar_item" id="file_menu">
            <p>File</p>
            <ul>
                <li id="file_menu_download_event_data">Download Event Data...</li>
                <li id="file_menu_download_fault_data">Download Fault Data...</li>
            </ul>
        </div>
        -->
        
        <div class="menu_bar_item" id="view_menu">
            <p>View</p>
            <ul>
                <li class="active" id="view_menu_fault_map">Fault Map</li>
                <li id="view_menu_event_list">Event List
                    <div class="menu_bar_action link"><a href="{% url 'vc_browser:event_list_init' %}" class="menu_bar_action link">Event List</a></div>
               </li>
            </ul>
        </div>
        
        <div class="menu_bar_item" id="action_menu">
            <p>Action</p>
            <ul>
                <li class="disabled" id="action_menu_select_actions">Select Actions...
                    <div class="menu_bar_action dialog">
                            <h1> Fault Actions </h1>
                            <form action="{% url 'vc_browser:action' %}" method="get">
                            <p>
                                <input class="checkbox" type="checkbox" name="frequency_magnitude" id="frequency_magnitude" /> <label for="frequency_magnitude">Frequency-Magnitude</label>
                            </p>
                            <p>
                                <input class="checkbox" type="checkbox" name="magnitude_average_slip" id="magnitude_average_slip" /> <label for="magnitude_average_slip">Magnitude-Average Slip</label>
                            </p>
                            <p>
                                <input class="checkbox" type="checkbox" name="magnitude_rupture_area" id="magnitude_rupture_area" /> <label for="magnitude_rupture_area">Magnitude-Rupture Area</label>
                            </p>
                            <p>
                                <input class="checkbox" type="checkbox" name="average_slip_rupture_length" id="average_slip_rupture_length" /> <label for="average_slip_rupture_length">Average Slip-Rupture Length</label>
                            </p>
                            <p>
                                <input class="checkbox" type="checkbox" name="space_time" id="space_time" /> <label for="space_time">Space-Time Diagram</label>
                            </p>
                            <p>
                                <input type="text" size="7" name="start_year" id="start_year" class="text" value="Start year" />
                                <input type="text" size="7" name="end_year" id="end_year" class="text" value="End year" />
                            </p>
                            <p class="buttons">
                                <input class="button default" name="go" type="button" value="Go" />
                                <input class="button" name="cancel" type="button" value="Cancel" />
                            </p>
                            </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div id="content">
        <div id="fault_map"></div>
        <div id="fault_list">
            <div id="fault_list_header">
                <input class="button small" name="all" type="button" value="All" />
                <input class="button small" name="none" type="button" value="None" />
                <input class="text small" type="text" name="search" value="Search text"/>
            </div>
            <div id="fault_list_list"></div>
        </div>
    </div>
    
    <div id="system">
        <div id="system_name"><p>{{ system_name }}</p></div>
        <div id="system_info">
            <p>Sections: {{ system_info.sections }}</p>
            <p>Elements: {{ system_info.elements }}</p>
            <p>Events: {{ system_info.events }}</p>
            <p>Years: {{ system_info.years|floatformat }}</p>
        </div>
    </div>

    
</div>
</body>
</html>
