<div id="event_info">
    <div id="event_number">Number: <b>156</b></div>
    <div id="event_year">Time: <b>216-3-4 5:19:54 (216.17521)</b></div>
    <div id="event_magnitude">Magnitude: <b>6.83484</b></div>
    <div id="event_rupture_area">Rupture Area: <b>450.00000 [km<sup>2</sup>]</b></div>
    <div id="event_surface_ruptue_length">Surface Rupture Length: <b>30.00000 [km]</b></div>
    <div id="event_average_slip">Average Slip: <b>0.60241 [m]</b></div>
    <div id="event_trigger_location">Trigger Element: <b>1600</b> Lat: <b>34.10175</b> Lon: <b>-117.45178</b></div>
    <div id="event_trigger_section">Trigger Section: <b>23 San_Bernardino</b></div>
    <div id="event_involved_sections">Involved Sections: <b>23 San_Bernardino, 31 Glen_Ivy</b></div>
</div>
<div id="event_time_series">
    <img src="images/ALLCAL2_1-7-11_no-creep_dyn-05_st-20_Event-Time-Series_156.png" width="501" height="150" />
</div>
<div id="event_fault_map">
    <img src="images/ALLCAL2_1-7-11_no-creep_dyn-05_st-20_Fault-Map_156.png" width="501" height="521" />
</div>
<div id="event_rupture_map">
    <img src="images/ALLCAL2_1-7-11_no-creep_dyn-05_st-20_Event-Rupture-Map_156.png" width="1010" height="999" />
</div>