/* prop: top right bottom left; */
/* available font names:
        FuturaT-Book
        FuturaT-BookOblique
        FuturaT-Bold
        FuturaT-BoldOblique
        FuturaT-Demi
        FuturaT-DemiOblique
        FuturaT-ExtraBold
        FuturaT-ExtraBoldOblique
        FuturaT-Light
        FuturaT-LightOblique
        FuturaT-Medium
        FuturaT-MediumOblique */
/*background: rgba(0, 0, 0, 0.75);
    color:white;
    border-radius:5px;
    position: absolute;*/
        

body {
    margin:0px 0px;
    padding:0px;
    text-align:center;
    font-family: 'FuturaT-Book', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
}

#uber {
    /*background-image:url('images/background.png');
    background-repeat:repeat-y;*/
    margin:0px auto;
    text-align:left;
    overflow-x:hidden;
    width:auto;
    padding-top:0px
}

b {
    font-family: 'FuturaT-Demi', Arial, sans-serif;
}

.activity_overlay_message {
    float:right;
    font-family: 'FuturaT-DemiOblique', Arial, sans-serif;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    padding: 3px 5px 0px 0px;
    height:22px;
}

.activity_overlay {
    background-color:#FFFFFF;
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}


/*****************************************************************************************
    System info
    
*****************************************************************************************/

#system {
    width:auto;
    height:20px;
    background-color:#FFFFFF;
    font-family: 'FuturaT-LightOblique', Arial, sans-serif;
    font-size:12px;
    
    /*
    border-top:1px solid #575757;
    background-image:url("../images/system_grad.png");
    background-repeat:repeat-x;
    background-position:bottom;
    */
}

#system_name {
    padding: 0px 20px 0px 5px;
    height: 20px;
    float: left;
    
    /* needed to align the contained content vertically */
    display: table;
}

#system_name p {
    /* needed to align the contained content vertically */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#system_info {
    height: 20px;
    float: right;
    padding: 0px 0px 0px 20px;
    
    /* needed to align the contained content vertically */
    display: table;
}

#system_info p {
    padding: 0px 20px 0px 0px;
    
    /* needed to align the contained content vertically */
    display: table;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/*****************************************************************************************
    Menu bar
    
*****************************************************************************************/

#menu_bar {
    width:auto;
    height:25px;
    background-color:#FFFFFF;
    font-family: 'FuturaT-Light', Arial, sans-serif;
}

#menu_bar p {
    padding:0px;
    margin:0px;
    font-size: 18px;
}

#menu_bar .menu_bar_item {
    margin: 0px 0px 0px 0px;
    padding: 3px 15px 0px 5px;
    float:left;
    height:22px;
}

#menu_bar .hovered {
}

#menu_bar .selected {
    background-color: #619AFF;
}

#menu_bar .active {
    background-color: #619AFF;
}

.menu_bar_action {
    display:none;
}

/*****************************************************************************************
    Dialog box
    
*****************************************************************************************/

.dialog {
    display:none;
    
    background:#FFFFFF;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    
    -moz-box-shadow: 0px 5px 10px #000000;
    -webkit-box-shadow: 0px 5px 10px #000000;
    box-shadow: 0px 5px 10px #000000;
}

.dialog h1 {
    
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 20px 0px;
    font-family: 'FuturaT-LightOblique', Arial, sans-serif;
    font-size: 36px;
}

.dialog p {
    margin: 0px 20px 10px 20px;
}

.dialog p.buttons {
    margin: 0px 10px 10px 20px;
    padding: 10px 0px 0px 0px;
}

.dialog p.buttons * {
    float:right;
    margin: 0px 0px 0px 10px;
}

.dialog_overlay {
    background-color:#FFFFFF;
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

/*****************************************************************************************
    Form elements
    
*****************************************************************************************/

input {
    font-family: 'FuturaT-DemiOblique', Arial, sans-serif;
    font-size: 14px;
}

input.button.disabled {
    background: #FFE4CF;
    border: none;
}

input.button {
    background: #FC9A38;
    border: none;
    color: #FFFFFF;
    height:25px;
    width:60px;
    
    text-align:right;
    padding: 8px 4px 0px 0px;
    
    /*
    border: 1px solid #808080;
    
    border-radius:          5px;
    -webkit-border-radius:  5px;
    -moz-border-radius:     5px;
    
    -moz-box-shadow:    0px 0px 5px #dfdfdf;
    -webkit-box-shadow: 0px 0px 5px #dfdfdf;
    box-shadow:         0px 0px 5px #dfdfdf;

    background-image:url("../images/button_bg.png");
    background-repeat:repeat-x;
    background-position:bottom;
    */

}

input.default {
    background: #F9553A;
}

input.text {
    background: #FFE4CF;
    border: none;
    /*border: 1px solid #808080;*/
    height:17px; /* 25 - 8 (top padding) */
    padding: 8px 0px 0px 4px;
}


input.button.small {
}

input.text.small {
}

.checkbox {
    height: 20px;
    clear: both;
}

.checkbox_box {
    width: 20px;
    height: 20px;
    border: none;
    background: #FC9A38;
    margin: 0px 10px 0px 0px;
    
    float:left;
}

.checkbox_label {
    font-family: 'FuturaT-DemiOblique', Arial, sans-serif;
    font-size: 18px;
    
    float:left;
}

.selected .checkbox_box {
    width: 10px;
    height: 10px;
    border: 5px solid #FC9A38;
    background: #FFFFFF;
}

.popup_window ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding:10px 0px 10px 0px;
}

.popup_window li {
    margin:0px;
    padding: 5px 20px 5px 20px;
    clear:both;
    
    font-size: 14px;
}

.popup_window li.active {
    background-color: #619AFF;
}

.popup_window li.disabled {
    background-color: #FFFFFF;
    color: #808080;
}

.popup_window li.hovered {
    background-color: #D4E6FF;
}

.popup_window {
    display:none;
    background-color:#FFFFFF;
    
    margin: 0px;
    padding: 0px 0px 0px 0px;
    
    -moz-box-shadow: 0px 5px 10px #000000;
    -webkit-box-shadow: 0px 5px 10px #000000;
    box-shadow: 0px 5px 10px #000000;

    /*
    border:solid #808080 1px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 2px 2px  rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    */
}

.ss_popup {
    background: #FC9A38;
    background-image:url("../images/popup.png");
    background-repeat: no-repeat;
    background-position: 100%;
    
    font-family: 'FuturaT-DemiOblique', Arial, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    
    height:25px;
    
    padding: 0px 29px 0px 10px;

    
    /*
    border: 1px solid #808080;
    
    border-radius:          5px;
    -webkit-border-radius:  5px;
    -moz-border-radius:     5px;
    
    -moz-box-shadow:    0px 0px 5px #dfdfdf;
    -webkit-box-shadow: 0px 0px 5px #dfdfdf;
    box-shadow:         0px 0px 5px #dfdfdf;
    */

}

/*
.ss_popup.small {
    border-radius:          2px;
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    
    -moz-box-shadow:    0px 0px 5px #dfdfdf;
    -webkit-box-shadow: 0px 0px 5px #dfdfdf;
    box-shadow:         0px 0px 5px #dfdfdf;
    
    height:13px;
    
    padding: 3px 3px 3px 6px;
    
    background-image:url("../images/popup_small.png");
    background-repeat: no-repeat;
    background-position: 100%;
}
*/

.ss_popup p {
    
    text-align:right;
    margin: 10px 0px 0px 0px;
}



/*****************************************************************************************
    Content area
    
*****************************************************************************************/

#content {
    /*border-bottom:1px solid #808080;*/
    position:relative;
}

/*****************************************************************************************
    Fault map
    
*****************************************************************************************/


#fault_map {
    /*width:auto;
    height:auto;*/
}

.info_window {
    font-family: 'FuturaT-Book', Arial, sans-serif;
    font-size: 18px;
}

#fault_list {
    width:300px;
    background-color: #FFFFFF;
    position:absolute;
    
    left:-301px;
    display:none;
    
    top:0px;
}

#fault_list_list {
    /*height:auto;*/
    overflow-y:scroll;
    overflow-x:hidden;
    /*padding: 5px 0px 5px 0px;*/
}

#fault_list_button {
    width:15px;
    height:50px;
    background-image:url("../images/fault_list_button_background.png");
    background-repeat:none;
}

#fault_list ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

#fault_list li {
    padding: 10px 10px 10px 10px;
    font-family: 'FuturaT-Book', Arial, sans-serif;
    font-size: 14px;
}

#fault_list_header {
    height:25px;
    padding: 10px 10px 10px 10px;
}

#fault_list_header input.text {
    width: 136px; /* 140 - default left pad of 4 */
    float: left;
}

#fault_list_header input.button {
    margin: 0px 10px 0px 0px;
    float: left;
}

#fault_list .hovered {
    background-color: #D4E6FF;
}

#fault_list .selected {
    background-color: #619AFF;
}

/*****************************************************************************************
    Event list
    
*****************************************************************************************/

#event_list_container {
    position:relative;
}

#event_list_controls {
    height: 25px;
    background: #FFFFFF;
    /*border-bottom:1px solid #808080;*/
    padding: 10px 10px 10px 10px;
    margin: 0px;
}

#event_list_header {
    height: 30px;
    background: #FFFFFF;
    
    padding: 0px;
    margin: 0px;
    
    font-family: 'FuturaT-DemiOblique', Arial, sans-serif;
    font-size: 14px;
    
    /*
    border-bottom:1px solid #808080;
    background-color:#e5e5e5;
    */
}

#event_list_header .ascending {
    background-color: #B5B5B5;
    background-image:url("../images/sort_ascending.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

#event_list_header .descending {
    background-color: #B5B5B5;
    background-image:url("../images/sort_descending.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

#event_list_header table {
    height: 30px;
    border-collapse: collapse;
}

#event_list_header table td {
    padding: 8px 0px 0px 5px;
}

#event_list {
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
}

#event_list table {
    border-collapse:collapse;
    font-family: 'FuturaT-Book', Arial, sans-serif;
    font-size: 14px;
}

#event_list table td {
    padding: 6px 0px 0px 5px;
    margin: 0px;
}

#event_list table tr {
    height: 30px;
}

#event_list table tr.even {
    background-color:#E2E2E2;
}


#event_list table tr.hovered {
    background-color: #D4E6FF;
}

#event_list table td.evdetail{
    background-image:url("../images/event_detail_arrow.png");
    background-repeat: no-repeat;
    background-position: 30%;
}

/*
#event_list table tr td.evdetail {
    background-image:url("../images/event_detail_arrow_dark.png");
    background-repeat: no-repeat;
    background-position: 30%;
}

#event_list table tr td.hovered.evdetail, #event_list_table tr.selected td.hovered.evdetail {
    background-image:url("../images/event_detail_arrow_selected.png");
    background-repeat: no-repeat;
    background-position: 30%;
}

#event_list table tr.selected td.evdetail {
    background-image:url("../images/event_detail_arrow_light.png");
    background-repeat: no-repeat;
    background-position: 30%;
}

#event_list table .event_detail_arrow {
    float: right;
    margin: 5px 5px 5px 5px;
}
*/

#event_list table tr.selected {
    background-color: #619AFF;
}



#event_list_selection input {
    margin: 0px 10px 0px 0px;
}

#event_list_display_items {
    margin: 0px 0px 0px 0px;
    width:50px;
}

#event_list_pager {
    padding: 7px 0px 0px 0px;
    position:absolute;
    height: 25px;
    /*background-color: #FFFFFF;*/
}

#event_list_pager .double_arrow_left, #event_list_pager .arrow_left, #event_list_pager .arrow_right, #event_list_pager .double_arrow_right {
    width:15px;
}

#event_list_pager .double_arrow_left.active {
    background-image:url("../images/pager_double_arrow_left.png");
    background-repeat: no-repeat;
}

#event_list_pager .arrow_left.active  {
    background-image:url("../images/pager_arrow_left.png");
    background-repeat: no-repeat;
}

#event_list_pager .arrow_right.active  {
    background-image:url("../images/pager_arrow_right.png");
    background-repeat: no-repeat;
}

#event_list_pager .double_arrow_right.active  {
    background-image:url("../images/pager_double_arrow_right.png");
    background-repeat: no-repeat;
}

#event_list_pager .pages {
    border-collapse:collapse;
    font-family: 'FuturaT-DemiOblique', Arial, sans-serif;
    font-size: 14px;
}

#event_list_pager .page {
    margin: 0px 2px 0px 2px;
    /*width: 27px;*/
}


/*****************************************************************************************
    Event detail
    
*****************************************************************************************/

#event_detail_container {
    display: none;
    
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
    
    position:relative;
}

#event_info {
    /* 503 - border*2 - padding*2 */
    width: 481px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    font-family: 'FuturaT-Book', Arial, sans-serif;
    
    font-size: 12px;
    
    margin: 6px 0px 0px 6px;
    padding: 10px 10px 10px 10px;
    
}

#event_info div {
    margin: 0px 0px 6px 0px;
}

#event_time_series {
    /* 503 - border*2 */
    width: 501px;
    
    border: 1px solid #000000;
    
    margin: 6px 0px 0px 6px;
}

#event_fault_map {
    /* 503 - border*2 */
    width: 501px;
    
    border: 1px solid #000000;
    
    margin: 6px 0px 0px 6px;
}

#event_rupture_map {
    /* 1012 - border*2 */
    width: 1010px;
    
    border: 1px solid #000000;
    
    margin: 6px 0px 0px 6px;
}

/*****************************************************************************************
    Action detail
    
*****************************************************************************************/

#action_container {
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
    
    position:relative;
}

#action_info {
    /* 503 - border*2 - padding*2 */
    width: 481px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    font-family: 'FuturaT-Book', Arial, sans-serif;
    
    font-size: 12px;
    
    margin: 6px 0px 0px 6px;
    padding: 10px 10px 10px 10px;
    
}

#action_info div {
    margin: 0px 0px 6px 0px;
}

#action_time_series {
    /* 503 - border*2 */
    width: 501px;
    
    border: 1px solid #000000;
    
    margin: 6px 0px 0px 6px;
}

#action_fault_map {
    /* 503 - border*2 */
    width: 501px;
    
    border: 1px solid #000000;
    
    margin: 6px 0px 0px 6px;
}

.action_scaling_plot {
    /* 1012 - border*2 */
    width: 501px;
    
    border: 1px solid #000000;
    
    margin: 6px 0px 0px 6px;
}

.action_space_time_plot {
    /* 1012 - border*2 */
    width: 1010px;
    
    border: 1px solid #000000;
    
    margin: 6px 0px 0px 6px;
}

#back {
    
    width: 100%;

    height: 30px;

    background-image:url("../images/event_detail_arrow_back.png");
    background-repeat: no-repeat;
    background-position: 0%;
    background-color: #E2E2E2;
    
    margin: 6px 0px 0px 0px;
}





